{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>Welcome to Agro Cattle Care</h1>
        <h2></h2>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section><!-- End Hero -->


<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Why Choose Agro?</h3>
                    <p>It is estimated that agriculture is up to 4 times more effective in reducing poverty than any other working sector in the world.  The world is also now depending on agriculture more than ever before to feed both the rich and the poor and it is the one economic sector that no country can flourish or even survive without.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4>File</h4>
                                <p>All users will be able to see all the notices of Agro Cattle Care.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Planing</h4>
                                <p>Agro will now be able to see what is being planned. And learn about agro cattle care
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>Image</h4>
                                <p>You can see the Agro  Cattle Care image</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section>

<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <div
                class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                <a href="https://www.youtube.com/watch?v=HIwYbmYoXyI" class="glightbox play-btn mb-4"></a>
            </div>

            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>About agro cattle care </h3>
                <p>Agro cattle care is a young, dynamic place where a variety of agricultural products can be found, products can be bought in foreign countries, agriculture and cattle rearing will provide different treatments.</p>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Tech </a></h4>
                    <p class="description">The main purpose of companies working in this space is to 
                    make more information available for all relevant parties so that more yield and 
                    quality produce is ensured. This article breaks down how different companies operate in this space through a variety of offerings.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Gift</a></h4>
                    <p class="description">If there is any celebration or program in the agricultural sector, 
                    it will be informed in advance</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">reaload</a></h4>
                    <p class="description">After loading you will know the new agro cattle care</p>
                </div>

            </div>
        </div>

    </div>
</section>


<section id="counts" class="counts">
    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="fas fa-user-md"></i>
                    <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="0"
                        class="purecounter">25</span>
                    <p>Expart</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="far fa-hospital"></i>
                    <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="0"
                        class="purecounter">18</span>
                    <p>Department</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="fas fa-flask"></i>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="0"
                        class="purecounter">12</span>
                    <p>Research Labs</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="fas fa-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="0"
                        class="purecounter">150</span>
                    <p>Awards</p>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="services" class="services">
    <div class="container">
        <div class="row">

            <div class="section-title">
                <h2>Agro Product</h2>
                <p>The objective is to increase food and nutrition security by ensuring continuous supply of quality agricultural inputs including resilient varieties, promotion of sustainable production technologies and proper mechanization to reduce post-crop losses. Introducing Bangladeshi Seed to the world.</p>
            </div>


            {% for product in products %}

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4">
                <div class="card">
                    <img src="{{product.pic.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">TK. {{product.price}}</p>

                        {% if request.user.is_authenticated %}
                        <button data-product="{{product.id}}" data-action="add"
                            class="update-cart btn btn-success mt-2">Add
                            to cart</button>
                        {% else %}

                        <a href="{% url 'login' %}" title="Please Login for Add to cart" class="btn btn-info mt-2">Add
                            to cart</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}


        </div>

    </div>
</section>



{% endblock content %}