{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Our Privacy policy</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa suscipit facilis, voluptates
                    sapiente numquam! Rerum, laudantium harum omnis quis cumque quasi eaque sapiente. Vel corrupti
                    voluptates porro inventore enim.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa suscipit facilis, voluptates
                    sapiente numquam! Rerum, laudantium harum omnis quis cumque quasi eaque sapiente. Vel corrupti
                    voluptates porro inventore enim.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa suscipit facilis, voluptates
                    sapiente numquam! Rerum, laudantium harum omnis quis cumque quasi eaque sapiente. Vel corrupti
                    voluptates porro inventore enim.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa suscipit facilis, voluptates
                    sapiente numquam! Rerum, laudantium harum omnis quis cumque quasi eaque sapiente. Vel corrupti
                    voluptates porro inventore enim.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa suscipit facilis, voluptates
                    sapiente numquam! Rerum, laudantium harum omnis quis cumque quasi eaque sapiente. Vel corrupti
                    voluptates porro inventore enim.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa suscipit facilis, voluptates
                    sapiente numquam! Rerum, laudantium harum omnis quis cumque quasi eaque sapiente. Vel corrupti
                    voluptates porro inventore enim.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa suscipit facilis, voluptates
                    sapiente numquam! Rerum, laudantium harum omnis quis cumque quasi eaque sapiente. Vel corrupti
                    voluptates porro inventore enim.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo culpa suscipit facilis, voluptates
                    sapiente numquam! Rerum, laudantium harum omnis quis cumque quasi eaque sapiente. Vel corrupti
                    voluptates porro inventore enim.
                </p>

            </div>


        </div>

    </div>
</section>


{% endblock content %}