{% extends "base.html" %}

{% block title %}
Password reset Done
{% endblock title %}


{% block content %}

<section class="row">
    <div class="col-md-3" style="margin: 0 auto;">
        <h1>Forgot your password?</h1>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}

            {{ field }}
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">{{ field.errors }} </div>
            {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary mt-4">
                Submit

            </button>
        </form>

    </div>
</section>
<script>
    document.getElementById('id_email').classList.add('form-control')
    document.getElementById('id_email').setAttribute('placeholder', 'Your Email')
</script>

{% endblock content %}