{% extends "base.html" %}

{% block title %}
Password reset Done
{% endblock title %}

{% block content %}

<section class="container">
    <div class="row">
        <div class="col-md-5" style="margin: 0 auto;">
            <div class="mb-8">
                <h1 class="text-2xl">Check Your inbox</h1>
                <p class="mb-5">We've emailed you instructions for setting your password. You should receive the email
                    shortly!
                </p>




            </div>

        </div>

    </div>
</section>


{% endblock content %}
{% block script %}

{% endblock script %}